html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-style: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--main-text-color);
  scroll-behavior: smooth;
  // background-color: rgb(30, 210, 57);
  // outline: 2px solid tomato;

  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--animation);
}

.title-wrap {
  display: block;
}
