:root {
  --main-text-color: #4c4c4c;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-white: #ffffff;
  --color-dark: #cdcdcd;
  --color-light: #fafafa;
  --text-btn: #292929;
  --color-heading: #545454;
  --background-light: #f6f6f6;
  --text-donation: #b2b2b2;

  --animation: 300ms ease-in;
}